<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" routerLink="dashboard/my-details"><mat-icon>manage_accounts</mat-icon>My Details</a>
      <a mat-list-item routerLinkActive="active" routerLink="dashboard/current-virus-update"><mat-icon>coronavirus</mat-icon>Current Virus Update</a>
      <a mat-list-item routerLinkActive="active" routerLink="dashboard/book-opd-number"><mat-icon>book_online</mat-icon> OPD Number</a>
      <a mat-list-item routerLinkActive="active" routerLink="dashboard/doctor-prescription"><mat-icon>medication</mat-icon> Prescription</a>
      <a mat-list-item routerLinkActive="active" routerLink="dashboard/show-nearest-hospital"><mat-icon>fmd_good</mat-icon> Nearest Hospital</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Medi-Care</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
